README.sync_email
vim/.vim/.netrwhist
vim/.vim/spell/
vim/.vim/thesaurus/
vim/.vim/backup/
vim/.vim/swap/
vim/.vim/undo/
w3m/.w3m/history
elvish/.config/elvish/db
elvish/.config/elvish/lib
vifm/.config/vifm/scripts/README
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo.json
vim/.vim/pack/jiska/opt
vim/.vim/pack
